

    .site-contact-inner{
        padding-top: 130px;
        padding-bottom: 130px;
        max-width: 1200px;
        width: 92%;
        margin-right: auto;
        margin-left: auto;

        @media screen and (max-width: 670px){
            padding-top: 50px;
            padding-bottom: 50px;
        }
        

        .site-contact-container{
            display: flex;
            
            @media screen and (max-width: 670px){
                flex-direction: column;
            }

            .site-contact-info{
                width: 65.4117647059%;
                .site-contact-styles{
                    padding-bottom: 40px;
                    
                    @media screen and (max-width: 670px){
                        padding-bottom: 25px;
                    }
                    .site-contact-title{
                        line-height: 115%;
                        color: #fff;
                        font-size: 3.25rem;
                        font-weight: 400;

                        @media screen and (max-width: 1280px) and (min-width: 671px){
                            font-size: 3.00rem;
                        }

                        @media screen and (max-width: 670px){
                            font-size: 1.875rem;
                        }
                    }

                    .site-contact-text{
                        margin-top: 20px;
                        line-height: 160%;
                        color: rgba(255,255,255,0.5);
                        font-size: 1.625rem;

                        @media screen and (max-width: 670px){
                            font-size: 1.25rem;
                        }
                    }
                }

            }

            .site-contact-social{
                    margin-top:30px;

                    @media screen and (max-width: 670px){
                        margin-top:15px;
                    }
                .tech-list{
                        @media screen and (max-width: 670px){
                            padding-inline-start: 0;
                        }
                        
                    .tech-list-item{
                        margin-bottom: 30px;
                        margin-top: 30px;
                        font-size: 1.25rem;
                        display: flex;
                        align-items: center;
                        -webkit-box-align: center;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 1.25px;
                        
                        @media screen and (max-width: 670px){
                            font-size: 1rem;
                        }
                            
                        a{
                            color: rgba(255,255,255,0.5);
                            transition: color ease .3s;

                            &:hover{
                                color: #fff;
                            }
                        }

                        .tech-list-icon{
                            margin-right: 15px;
                            flex-shrink: 0;
                            color:#4b6cc1;
                           
                            

                        }
                    }

                }


            }


        }
    }
