.custom-button{
    transition: all ease .3s;
    font-size: 1.375rem;
    padding: 22px 32px;
    display: inline-block;
    cursor: pointer;
    border-radius: 1000px;
    background: #4b6cc1;
    font-family: "Rubik","Arial",sans-serif;
    font-weight: 400;
    color: #fff;
    

    &:hover{
        box-shadow: inset 0 0 0 2px #4b6cc1;
        background: none;
        color: #4b6cc1;
        transform: scale(1.075);
        
    }
}