.project-section{
    max-width: 1430px;
    width: 92%;
    margin-right: auto;
    margin-left: auto;

    @media screen and (max-width: 1920px) and (min-width: 1281px){
        padding-top: 130px;
        padding-bottom: 130px;
    }
    @media screen and (max-width: 1280px) and (min-width: 671px){
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    @media screen and (max-width: 670px){
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .project-title-holder{
        padding-bottom: 60px;

        @media screen and (max-width: 1280px) and (min-width: 671px){
            padding-bottom: 50px;
        }

        @media screen and (max-width: 670px){
            padding-bottom: 35px;
        }

        .project-title-section{
            
            padding-bottom: 15px;
            border-bottom: 4px solid #f6f6f6;
            color: #919191;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.25px;

            @media screen and (max-width: 1920px) and (min-width: 671px){
                font-size: 2.0rem;
            }

            @media screen and (max-width: 670px){
                font-size: 1.5rem;
            }
        }
    }

   
}