.site-footer{
    background: #101114;

    .site-footer-inner{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        max-width: 925px;
        width: 92%;
        margin-right: auto;
        margin-left: auto;
        font-size: 1.125rem;
    }
}